<div class="doctor-profile">
    <div class="row">
        <div class="col-lg-5 order-lg-1 col-12 order-2">
            <div class="doctor-brief">
                <p class="text-white">هند الناهض مستشارة إعلام رقمي, مستشارة الإعلام الإلكتروني لمكتب وكيل وزارة الإعلام الكويتية وهي المؤسسة لشركة “سوشالوبي” للخدمات المختصة في مجال الإعلام الإجتماعي , بالإضافة الى إنها مستشارة في مجال التواصل الاجتماعي.هند الناهض مستشارة إعلام رقمي, مستشارة الإعلام الإلكتروني لمكتب وكيل وزارة الإعلام الكويتية وهي المؤسسة لشركة “سوشالوبي” للخدمات المختصة في مجال الإعلام الإجتماعي , بالإضافة الى إنها مستشارة في مجال التواصل الاجتماعي.

                    <!-- هند الناهض مستشارة إعلام رقمي, مستشارة الإعلام الإلكتروني لمكتب وكيل وزارة الإعلام الكويتية وهي المؤسسة لشركة “سوشالوبي” للخدمات المختصة في مجال الإعلام الإجتماعي , بالإضافة الى إنها مستشارة في مجال التواصل الاجتماعي.هند الناهض مستشارة إعلام رقمي, مستشارة الإعلام الإلكتروني لمكتب وكيل وزارة الإعلام الكويتية وهي المؤسسة لشركة “سوشالوبي” للخدمات المختصة في مجال الإعلام الإجتماعي , بالإضافة الى إنها مستشارة في مجال التواصل الاجتماعي -->
                </p>
            </div>

            <div class="doctor-experience">
                <h1 class="text-white title">الخبرات</h1>
                <div class="exp-badges">
                <span class="exp-badge">تطوير الأعمال</span>
                <span class="exp-badge">المشاريع الصغيرة</span>
                <span class="exp-badge">مشاركة العملاء</span>
                <span class="exp-badge">التحدث أمام الجمهور</span>
                <span class="exp-badge">الدعاية والإعلان</span>
                <span class="exp-badge">ريادة الأعمال</span>
                <span class="exp-badge">التسويق الرقمي</span>
                <span class="exp-badge">الإعلام</span>
                <span class="exp-badge">القيادة</span>
                </div>
                
            </div>
    
        </div>
        <div class="col-lg-7 order-lg-2 col-12 order-1">
            <iframe class="doctor-video" height="500" src="https://www.youtube.com/embed/3GA8WBNUnsc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


