<div class="header row m-0">
    <div class="col d-none d-sm-flex">
      <div class="doctor-info">
        <img class="icons8-home-1" src="../../../assets/icon/icons-8-home-1.png" />
        <img class="doctor-img" src="assets/users/022-e-6373-e-30-a-59-ec-5-ad-1-f-10-f-2-dc-50555.png" />

        <div class="text-white">
          <p class="m-0 clinic-name">العيادة الرقمية</p>
          <p class="m-0 doctor-name">ل د.هند الناهض</p>
          <p class="m-0 rating">
              <img src="assets/icon/star.png"/>
              <img src="assets/icon/star.png"/>
              <img src="assets/icon/star.png"/>
              <img src="assets/icon/empty-star.png"/>
              تقييم</p>
        </div>

        <span class="status-badge text-white">مشغول بإستشارة</span>

      </div>
    </div>

    <div class="col">
      <img src="assets/brand/group-71.png" />
    </div>

  </div>

  <div class="nav-header row m-0">
    <div class="col nav-header-links d-flex align-items-center  d-none d-sm-flex">
      <div class="row">
        <a mat-button class="nav-header-link" [routerLink]="'/doctorProfile'"
          [routerLinkActive]="['nav-header-link-active']"> نبذة عن هند </a>
        <a mat-button class="nav-header-link" [routerLink]="'/store'"
          [routerLinkActive]="['nav-header-link-active']"> متجر </a>
        <a mat-button class="nav-header-link" [routerLink]="'/broadcast'"
          [routerLinkActive]="['nav-header-link-active']"> برودكاست </a>
        <a mat-button class="nav-header-link" [routerLink]="'/courses'"
          [routerLinkActive]="['nav-header-link-active']"> كورسات </a>
        <a mat-button class="nav-header-link" [routerLink]="'/activities'"
          [routerLinkActive]="['nav-header-link-active']"> حجز عيادة (20 دينار كويتي) </a>
      </div>

    </div>

    <div class="col quick-info">
      <div class="image-container">
        <img class="image1" src="assets/icon/Ellipse 3.png" />
        <img class="image2 audio" src=" assets/icon/Path 1035.png" />
      </div>
      <div class="info-container d-none d-sm-block">
        <div class="text-white font-size-h1">
          تجربة الصوت
        </div>&nbsp;<small>جيد جداً</small>
      </div>

      <div class="image-container">
        <img class="image1" src="assets/icon/Ellipse 4.png" />
        <img class="image2" src=" assets/icon/Path1044.png" />
      </div>
      <div class="info-container d-none d-sm-block">
        <div class="text-white font-size-h1">
          تجربة الكاميرا
        </div>&nbsp;<small>لم تقم باختبارها</small>
      </div>

      <div class="image-container">
        <img class="image1" src="assets/icon/Ellipse 2.png" />
        <img class="image2" src=" assets/icon/wifi.png" />
      </div>
      <div class="info-container">
        <div class="text-white font-size-h1">
          سرعة الانترنت
        </div>&nbsp;<small>٣٦ Mbps</small>
      </div>

      <div></div>
    </div>

  </div>

  <div class="d-block d-sm-none responsive">
    <div class="doctor-info row">
        <img class="doctor-img" src="assets/users/022-e-6373-e-30-a-59-ec-5-ad-1-f-10-f-2-dc-50555.png" />

        <div class="text-white">
          <p class="m-0 clinic-name">العيادة الرقمية</p>
          <p class="m-0 doctor-name">ل د.هند الناهض</p>
          <p class="m-0 rating">
              <img src="assets/icon/star.png"/>
              <img src="assets/icon/star.png"/>
              <img src="assets/icon/star.png"/>
              <img src="assets/icon/empty-star.png"/>
              تقييم</p>
        </div>

        <span class="status-badge text-white">مشغول بإستشارة</span>

      </div>

      <div class="nav-header responsive">
        <div class="row nav-header-links d-flex align-items-center">
            <a mat-button class="nav-header-link" [routerLink]="'/doctorProfile'"
              [routerLinkActive]="['nav-header-link-active']"> نبذة عن هند </a>
            <a mat-button class="nav-header-link" [routerLink]="'/store'"
              [routerLinkActive]="['nav-header-link-active']"> متجر </a>
            <a mat-button class="nav-header-link" [routerLink]="'/broadcast'"
              [routerLinkActive]="['nav-header-link-active']"> برودكاست </a>
            <a mat-button class="nav-header-link" [routerLink]="'/courses'"
              [routerLinkActive]="['nav-header-link-active']"> كورسات </a>
            <a mat-button class="nav-header-link" [routerLink]="'/activities'"
              [routerLinkActive]="['nav-header-link-active']"> حجز عيادة (20 دينار كويتي) </a>
    
        </div>
      </div>


      
  </div>