@import "../../../varibles.scss";

.header {
  min-height: 183px;
  // padding: 50px 0;
  padding: 50px 66px;
}

.doctor-info {
  display: flex;
  align-items: center;
  text-align: start;
  > .doctor-img {
    width: 64px;
    height: 64px;
    margin: 0 20px 26px 14px;
    object-fit: contain;
    //   box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.09);
  }
  .icons8-home-1 {
    width: 22px;
    height: 19px;
    margin: 24px 0 47px 20px;
    object-fit: contain;
  }

  .status-badge {
    font-size: 13px;
    margin-right: 20px;
    width: 142px;
    height: 31px;
    padding: 6px 12px;
    border-radius: 16px;
    background-image: linear-gradient(
      121deg,
      #e83866 -28%,
      #e83866 -21%,
      #e57a3c 55%,
      #e57a3c 75%
    );
  }
}

.nav-header {
  min-width: 60px;
  padding: 10px 66px;
  background-image: linear-gradient(
    80deg,
    $dark-slate-blue 11%,
    $dark-slate-blue-two 95%
  );
  &responsive {
    background-image: none;
  }

  .nav-header-link {
    font-size: 18px;
    color: $bluegrey;
  }

  .nav-header-link:hover {
    text-decoration: none;
    color: white;
  }
  .nav-header-link-active {
    color: white;
    &::before {
      content: "";
      position: absolute;
      right: 10px;
      bottom: 0;
      width: 20%;
      border-bottom: 2px solid white;
      margin: 5px;
    }
  }

  .nav-header-link:hover:before {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 20%;
    border-bottom: 2px solid white;
    margin: 5px;
  }

  .quick-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image-container {
      position: relative;
      top: 0;
      left: 0;
      .image1 {
        position: relative;
        top: 0;
        left: 0;
      }
      .image2 {
        position: absolute;
        top: 24px;
        left: 24px;
        &.audio {
          top: 17px;
        }
      }
    }
    .info-container {
      text-align: start;
    }
    small {
      color: #a7b5d2;
    }
  }
}
