// Custom colors
$primary: #3699ff !default; // Custom variable
$primary-hover: #187de4 !default; // Custom variable
$primary-light: #e1f0ff !default; // Custom variable

$light-navy-blue: #2a4986 !default;

$bluegrey: #8191b2 !default;
$dark-slate-blue: #254176 !default;
$dark-slate-blue-two: #1c3668 !default;
$dark-slate-blue-four: #1c3668 !default;
